<div>
    <h3>{{pageTitle}}</h3>
    <p>{{disclaimer}}</p>
</div> 

<div>
    <form>
        <label>Filter by</label>
        <input type="text" />
    </form>
    <div>
        <h4>Filtered by...</h4>
    </div>

    <table *ngIf='quotes && quotes.length'>
        <thead>
            <tr>
                <th><button (click)='toggleImage()'>Show speaking character</button></th>
                <th>Topic</th>                
                <th>Quote</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let quote of quotes'>
                <td>
                    <img [src]='quote.image'
                    [alt]='quote.character'
                    [style.width.px]='svgWidth'
                    [style.margin.px]='svgMargin'
                    >
                </td>
                <td>{{quote.topic}}</td>
                <td>{{quote.quote}}</td>
            </tr>
        </tbody>
    </table>
</div>